<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>

        <File name="TEMP" fileName="log/temp.log">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </File>

        <Async name="root">
            <AppenderRef ref="TEMP"/>
            <AppenderRef ref="Console"/>
        </Async>
    </Appenders>


    <Loggers>
        <!--分类自定义包名-->
        <Logger name="com.aiziyuer.app.framework.util" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="root"/>
        </Root>
    </Loggers>

</Configuration>